h1 {
    color: white ;
    background-color: red ;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif
}

h2 {
    color: black;
    font-size: 25px;
    font-family: sans-serif;
}

.imageblock figure {
    padding: 30px;
    align-items: right;
    text-align: left;
  }